---
layout: layouts/base.njk
title: Contact
permalink: /contact/
---
<h1>Contact</h1>

<h2 class="contact-heading">Positions Available</h2>
<p class="contact-intro">We are looking for Postdoctoral Fellows, Research Assistants and Postgraduate Students to join our team. Interested candidates please send your CV and a summary of past research experience to Prof. Chan at <a href="mailto:ming.chan@cityu.edu.hk">ming.chan@cityu.edu.hk</a>.</p>

<div class="contact-row">
  <div class="contact-address">
    <h2>Lab</h2>
    <p>
      Room G2435, 2/F<br>
      Yeung Kin Man Academic Building<br>
      Department of Biomedical Sciences<br>
      City University of Hong Kong<br>
      83 Tat Chee Avenue<br>
      Kowloon Tong, Hong Kong
    </p>
  </div>
  <div class="contact-map">
    <iframe
      title="Map showing the lab at Yeung Kin Man Academic Building, City University of Hong Kong"
      src="https://maps.google.com/maps?q=22.336250,114.173389&z=17&hl=en&output=embed"
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>

<div class="contact-row">
  <div class="contact-address">
    <h2>Office</h2>
    <p>
      Room 1B-206, 2/F, Block 1<br>
      To Yuen Building<br>
      City University of Hong Kong<br>
      31 To Yuen Street<br>
      Kowloon Tong, Hong Kong
    </p>
    <p>
      Email: <a href="mailto:ming.chan@cityu.edu.hk">ming.chan@cityu.edu.hk</a><br>
      Tel: <a href="tel:+85234426743">+852 3442 6743</a>
    </p>
  </div>
  <div class="contact-map">
    <iframe
      title="Map showing the office at To Yuen Building, 31 To Yuen Street"
      src="https://maps.google.com/maps?q=22.334833,114.173500&z=17&hl=en&output=embed"
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
